:root {
	--main-color: #29466d;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	direction: rtl;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	color: #444444;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

header {
  background-color: var(--main-color);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .img {
  position: relative;
}
header img:first-of-type {

}
header nav {
  display: flex;
  align-items: center;
}
header nav img:last-of-type {}
header nav p:first-of-type {
  padding: 0 20px;
}
header nav p:last-child {

}